// czcionki
$baseFont: "Bodoni Moda", serif;
$headingFont: "Roboto", sans-serif;
$auxFont: "Montserrat", sans-serif;

// kolory
$black: #000;
$white: #fff;

$bg: #fff;

$primary: #000;
$secondary: #fe009c;
$accent: #50b4c0;
